---
# Master에서 저장한 변수 가져오기
- name: Retrieve Master Facts
  set_fact:
    k3s_token: "{{ hostvars['localhost']['k3s_token'] }}"
    k3s_master_ip: "{{ hostvars[groups['k3s_master'][0]]['ansible_host'] }}"

- name: Construct Node Labels
  set_fact:
    k3s_node_label_args: "{% for label in node_labels | default([]) %}--node-label {{ label }} {% endfor %}"

- name: Install K3s Agent with Labels
  shell: >-
    curl -sfL https://get.k3s.io | 
    K3S_URL="https://{{ k3s_master_ip }}:6443" 
    K3S_TOKEN="{{ k3s_token }}" 
    sh -s - agent {{ k3s_node_label_args }}
  args:
    creates: /usr/local/bin/k3s-agent
  when: node_labels is defined and node_labels | length > 0
  async: 600
  poll: 10

- name: Install K3s Agent (No Labels)
  shell: >-
    curl -sfL https://get.k3s.io | 
    K3S_URL="https://{{ k3s_master_ip }}:6443" 
    K3S_TOKEN="{{ k3s_token }}" 
    sh -
  args:
    creates: /usr/local/bin/k3s-agent
  when: node_labels is not defined or node_labels | length == 0
  async: 600
  poll: 10